.status-button {
    color: #bfbfbf;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.33);
}